
//Opacity margin-left
@keyframes opacity {
    0% {
        opacity: 0;
        margin-left: 10%;
    }
    50% {
        opacity: 0.5;
        margin-left: -2%;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
    }
}

// Show block

@keyframes showBlock {
    0%{margin-top : -10%; opacity: 0; transform: rotate3d(0, 1, 0.5, 3.142rad);}
    100%{margin-top : 0%; opacity: 1; transform: rotate3d(0);}
}

//OPacity
@keyframes modal-header-active {
    0%{opacity: 0;}
    100%{opacity: 1;}
}